<style>

    #Inicio{
      margin: 0;
      height: 100vh;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      position: relative;
    }
  
    #Inicio:before {
        content:'';
        position: absolute;
      top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.7);
    }
  
    #texto{
      margin-top: 110px;
      position: relative;
    }
  
  </style>
  
  <div id="texto" class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        
        <!-- Escribimos frases para que el usuario las lea -->
        <h1 class="mb-3">El Tiempo meteorológico en toda España</h1>
        <h4 class="mb-3">Puedes encontrar informacion Geográfica y Meteorológica tanto de Provincias como de Municipios</h4>
        <a class="mb-3">Muevete con el Menú de arriba para hacer consultas </a>
        
      </div>
    </div>
  </div>